img{
    width: 150px;
    border-radius: 50px;
    border: 10px solid #AFD5AA;
   
}

body{
    background-color: #1d3557;
    color: #f1faee;
}
.description{
    width: 600px;
    font-size: 24px;

}